.button {
    background-color: var(--gold); /* Using CSS variable for gold color */
    color: var(--deep-blue); /* Using CSS variable for deep blue color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
    border-radius: 9999px; /* To achieve the rounded-full effect */
    opacity: 1; /* Ensure the button is fully opaque */
}

.button:hover {
    background-color: #FFD700; /* Change to desired hover color */
    transform: scale(1.1); /* Scale up slightly on hover */
}