/* styles/GallerySection.css */
/* styles/GallerySection.css */
.gallery-section {
    background-color: #FFFFF0; /* Ivory background */
    color: #002366; /* Deep Blue text */
    /* Add more styles as needed */
}
  
  .gallery-items {
    display: flex;
    justify-content: space-around;
    /* Add more styles as needed */
  }
  
  .gallery-items img {
    width: 200px;
    height: 200px;
    /* Add more styles as needed */
  }