/* src/styles/Header.css */
/* src/styles/Header.css */
.header-section {
    height: 100vh; /* Full viewport height */
    background-size: cover; /* Cover the entire width of the div */
    background-position: center; /* Center the background image */
    background-color: #f0f0f0; /* Add a background color */
    color: #FFFFFF; /* White text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.header-section h1 {
    font-size: 3em; /* Large title */
}

.header-section p {
    font-size: 1.5em; /* Smaller description */
}