.herosection {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Users/jazzyme/Documents/GitHub/readersPalace/readerspalacev1/src/assets/ReadersPalaceHero.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.herosection h1 {
    font-size: 48px;
}

.herosection p {
    font-size: 16px;
}

.join-button {
    background-color: var(--gold);
    color: var(--deep-blue);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-button:hover {
    background-color: var(--deep-blue);
    color: var(--gold);
}