/* src/styles/Home.css */

@import url('/Users/jazzyme/Documents/GitHub/readersPalace/readerspalacev1/src/styles/theme.css');

.home section {
    margin: 20px;
    padding: 10px;
  }
  
  .hero-header {
    background-color: #D4AF37; /* Gold */
    color: #002366; /* Deep Blue */
  }
  
  .feature-section, .features-list, .benefits, .cta, .gallery, .faq, .testimonials, .final-cta {
    border: 1px solid #A17A74; /* Burnished Bronze */
    background-color: #FFFFF0; /* Ivory */
  }
  
  button {
    background-color: #002366; /* Deep Blue */
    color: #FFFFF0; /* Ivory */
  
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #D4AF37; /* Gold */
  }