/* src/styles/Navbar.css */


@import url('/Users/jazzyme/Documents/GitHub/readersPalace/readerspalacev1/src/styles/theme.css');

/* src/styles/Navbar.css */
.navigationbar ul {
  list-style-type: none; /* Removes the bullet points */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigationbar li {
  float: left; /* Aligns the links horizontally */
}

.navigationbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigationbar li a:hover {
  background-color: #111; /* Changes the background color when hovered */
}