/* src/styles/NavbarButton.css */

@import url('/Users/jazzyme/Documents/GitHub/readersPalace/readerspalacev1/src/styles/theme.css');

.navbar-button {
    background-color: var(--gold);
    color: var(--deep-blue);
    padding: 15px 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 9999px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
}

.navbar-button:hover, .navbar-button:focus {
    background-color: var(--deep-blue);
    color: var(--gold);
    transition: background-color 0.3s ease, color 0.3s ease;
}